.container-detail {
  margin: 20px 40px 0 40px;
  padding-bottom: 80px;

}
.btn-go-back {
  text-align: right;
  font-size: 25px;
  cursor: pointer;
}
.section-detail {
  display: flex;
  justify-content: space-between;
  margin: 20px 50px 10px;
  height: 40px;
}
.container-teacher {
  display: flex;
  flex-direction: column;
  margin: 15px;
}
.container-image {
  display: flex;
  justify-content: space-between;
  border-radius: 15px;
  margin-bottom: 20px;
}
.cont-first-img {
  flex: 0.6;
  width: 230%;
  height: 100%;
  margin-right: 20px;
  overflow: hidden;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  object-fit: cover;
}

.container-grid {
  flex: 0.4;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border-top-right-radius: 15px;
  overflow: hidden;
}

.cont-other-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 10px;
  width: 100%;
  object-fit: cover;
}
.first-image {
  width: 100%;
  object-fit: cover;
}
.item-image {
  width: 100%;
  height: 95%;
}
.more {
  margin: 10px;
  cursor: pointer;
}

.ant-picker-outlined{
  border-color:#fa8c16;
  font-family: 'Poppins';
}
