.container-home {
  width: 100%;
  display: flex;
  flex-direction: column;

  align-items: center;
  padding-bottom: 50px;
}
.container-utilities {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.2rem;
  color: #fff;
  width: 100%;
  height: 380px;
  margin-top: 60px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  background: linear-gradient(#ffffff, #91d1d4);
}

.container-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 91px;
  color: #005777;
  font-weight: 800;
  font-size: 45px;
  font-family: poppins;
  margin-top: 10px;
}
.container-search {
  margin-top: 35px;
}

.container-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px 80px;
}

@media (max-width: 768px) {
  .container-utilities {
    margin-top: 10px;
    height: 550px;
  }
  .container-cards {
    padding: 20px 4px;
  }
  .container-title {
    font-size: 33px;
    height: 90px;
    margin-top: 45px;
  }
  .ant-select-single.ant-select-lg .ant-select-selector {
    margin-top: 10px;
  }
}

@media (max-width: 480px) {
  .container-title {
    font-size: 28px;
    height: 60px;
    margin-top: 45px;
  }
}
