.container-home {
  width: 100%;
  display: flex;
  flex-direction: column;

  align-items: center;
  padding-bottom: 50px;
}
.container-utilities {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.2rem;
    color: #fff;
    width: 100%;
    height: 380px;
    margin-top: 60px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    background: linear-gradient(#ffffff, #91d1d4);
    
}

.container-title{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 91px;
    color: #005777;
    font-weight: 800;
    font-size: 45px;
    font-family: poppins;
    margin-top: 10px;
}
.container-search {
    margin-top: 35px;
}

.container-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* correción para el footer */
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 20px;
  /* height: 100vh; */
  padding: 20px;
}

@media (max-width: 768px) {
  .container-cards {
    grid-template-columns: 1fr;
  }
}


@media (max-width: 480px) {
    .container-title {
        font-size: 20px;
        height: 60px;
        margin-top: 45px;
    }
  }