.filters-result{
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.title-filters-result{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin: 20px 0px;
}
.filters-results-container{
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}
  .filters-container{
    display: flex;
    flex: 0.25;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 20px 0px;
    }
  .accesories-filter{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    }
      .arrow-icon{
        margin-left: 10px;
        position: sticky;
        top: 125px
      }
      .clear-button {
        width: 135px;
        height: 45px;
        margin-right: 24px;
        font-size: 16px;
        font-family: poppins;
        border-radius: 25px;
        opacity: 0px;
        background: #F58220;
        border: none;
        color: #ffffff;
      }
      .clear-button:hover {
        color: #F58220;
        border: 1px solid #F58220;
        background-color: #ffffff;
      }

.characteristics-filter{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  
  }
  .filter-label{
    display: flex;
    flex-direction: row;  
    background: linear-gradient( #e4e5e4, #91D0D4);
    margin-left: 20px;    
    padding: 5px;
    border-radius: 15px;
    font-size: 15px;
    font-family: poppins;
    color: #666666;
    width: 90%;
    margin-top: 20px;
    box-shadow: 2px 2px 10px 1px #00000040;
    }
    .input-checkbox{
      cursor: pointer;
      background-color: #fff;
      color: #fff;
      background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='green' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
      width: 24px;
      height: 24px;
      appearance: none;
      border: 1px solid #888;
      border-radius: 10px;
      background-position: 0 -2rem;
      background-size: 100%;
      background-repeat: no-repeat;
      transition: all 0.3s ease-in-out;
      margin-left: 10px;
      margin-right: 20px;
      }
      .input-checkbox:checked{
        background-color: #f5f3f3;
        color: #ffffff;
        background-position: 0 0;
      }
        
      .badge{
        margin-left: auto;
      }


.cards-result{
  display: flex;
  flex: 0.75;
  flex-direction: column;
}

.cards-result-container{
  display: flex;
  flex: 0.7;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  }
  .pagination{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px; 
      margin-bottom: 20px;
    }
  

@media(max-width: 900px){

  .filters-results-container{
    flex-direction: column;
  }
  .characteristics-filter{
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
  }
  .filter-label{
    width: 30%;
    margin-left: 0px;
  }
  .filters-container{
    flex: 0.4;
  }
  .cards-result{
    flex: 0.6;
  }
}

@media(max-width: 768px){
  .characteristics-filter{
    justify-content: space-around;
  }
  .filter-label{
    width: 40%;
    margin-left: 0px;
  }
}
@media(max-width: 480px){
  .filter-label{
    width: 49%;
  }
}
@media(max-width: 360px){
  .characteristics-filter{
    flex-direction: column;
  }
  .filter-label{
    width: 100%;
    margin-left: 0px;
  }
}