main{
  display: flex;
}
.container-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
margin-top: 90px;
border-radius: 10px;
background-color: #f7f7f7;
border: 1px solid rgb(206, 200, 200)
}

 form h4{
    font-weight: 300;
    margin:  10px 10px;
    text-align: center;
 
}
form h3{
  font-weight: 300;
  margin:  20px;
  text-align: center;

}
input {
  font-size: 16px; 
  color: rgb(104, 101, 101);
  font-family: 'poppins';
  font-weight: 300;
}
Select{
  font-size: 16px; 
  color: rgb(104, 101, 101);
  font-family: 'poppins';
  font-weight: 300;

}
.categorias{
  display: flex;
  justify-content:space-between;
  margin: 90px 20px;
  font-weight: 300;
}
label{
  margin:5px;
  font-family: 'poppins';
  color: rgb(104, 101, 101);
}
@media screen and (max-width: 480px) {
    .container-form {
      width: 90%; 
      margin-top: 30px; 
      border-radius: 10px;
      background-color: #f7f7f7;
      border: 1px solid rgb(134, 128, 128);
      padding: 20px; 
    }
  
    h3 {
      margin: 10px 0; 
      text-align: center;
      font-size: 1.5rem; 
    }
  }