.container-favorites{
 display:flex;
 flex-direction: column;
height: 100vh;
margin-top:10px;
}
.favorites-title{
 text-align: center;
 margin-bottom: 30px;

}
.arrow-favorites{
    margin-left: 35px;
    width: 120px;
}
.deleteFav.anticon-delete{
    color:white
}
.deleteFav.anticon-delete:hover{
    color:rgb(39, 66, 218)
}
.no-favorites{
 text-align: center;
 height: 100vh;
 margin-top:50px;
}

@media (max-width: 480px) {
    .container-favorites{
       display: flex;
       flex-direction: column;
  
    }
    .arrow-favorites{
        margin:30px;
        width: 120px;
    }
    }

