.admin-container{
    margin-top:70px;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    height: 130vh;
}

.container-not-available{
    margin-top: 25%;
    display: flex;
    justify-content: center;
}
