.container-header {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  background-image: linear-gradient(to top, #fff, #91d1d4);
  z-index: 1000;
}
.container-logo {
  display: flex;
  margin: 15px;
  align-items: center;
}
nav {
  display: flex;
  align-items: center;
}
h4 {
  color: #1e506d;
  font-style: italic;
  font-weight: 300;
  margin: 10px;
}
.element-header {
  margin: 15px 0px;
}
.img-header {
  width: 65%;
  margin-top: 15px;
}
.btn {
  width: 137px;
  height: 38px;
  margin-right: 24px;
  font-size: 16px;
  font-family: poppins;
  border-radius: 27px;
  margin: 15px 5px;
}

.btn-sign {
  background: #005770;
  color: #ebebeb;
  border: none;
}
.btn-login {
  background: #ffffff;
  color: #005770;
  border: 1px solid #005770;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ant-avatar{
  font-size: 20px;
  font-family: 'Poppins';
  font-weight: 300;

}
.avatar {
  margin-bottom: 10px;
  background-color: #fa8c16;
  cursor: pointer;
  width: 50px;
  height: 50px;
  margin: 10px;
}

.btn-logout {
  background: #005770;
  color: #ffffff;
  border: 1px solid #005770;
  margin-top: 5px;
  width: 100px;
  height: 30px;
  font-size: 12px;
}
.anticon-down {
  cursor: pointer;
}
@media (max-width: 480px) {
  .container-header {
    width: 100%;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    background-image: linear-gradient(to top, #fff, #91d1d4);
    padding: 0 20px;
  }

  .container-logo {
    display: flex;
    align-items: center;
  }

  h3 {
    color: #1e506d;
    font-style: italic;
    margin-left: 10px;
  }

  #btn {
    font-size: 12px;
    padding: 3px 5px; /* Ajustamos el tamaño del botón en móviles */
    margin: 5px;
  }
}

@media (max-width: 800px) {
  #btn {
    font-size: 12px;
    padding: 3px 5px; /* Ajustamos el tamaño del botón en móviles */
    margin: 5px;
  }
}
