.container-register{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins';
    height: 100vh;
    margin:10px
 

}
.container-form-register,
.container-img-register {
  flex: 1; 
  max-width: 39vw; 
  height: auto;
}
.container-img-register{   
    background-image: url('/public/tutores.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center; 
    background-color: rgb(243, 242, 247); 
  background-blend-mode: overlay;
    margin: 1px 25px;
    border-radius: 8px;
           
}

.container-form-register{
    border: 1px solid rgb(197, 196, 196);
    margin: 0px  40px ;
    padding: 20px;
    background: white; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
           


}
.h3{
    margin:10px;
    text-align: center;

}
.ant-input{
    margin:5px;
    font-family: 'Poppins';

}
.ant-btn{
    font-family: 'Poppins';
    background-color:  #fa8c16;
    color: rgb(255, 255, 255);
    font-size: small;
}
.ant-form-item{
    margin-bottom: 5px;
}
@media (max-width: 768px) {
    .container-register {
      flex-direction: column;
      height: auto;
    }
    .container-img-register {
      height: auto; 
      margin-top: 20px;     
    }
    .ant-form > h3 {
        font-size: 14px;
    }
  }
  @media (max-width: 480px) {
  
    .container-form-register{
       max-width: 80vw;
    }
    .container-img-register{
        max-width: 60vw;
    }
  }