.container-search {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    margin-bottom: 25px;
    background-color: white;
    border-radius: 30px;
    padding: 0px 40px;
}

:where(.css-dev-only-do-not-override-3rel02).ant-input-group-wrapper-outlined .ant-input-group-addon:first-child {
    background-color: white;
}

.custom-search-input {
    border-radius: 10px !important;
    border:black;
}
.ant-picker-outlined{
    height: 45px;
    padding:7px 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins';

}
.container-date{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2px;

}
.btn-submit{
    height: 45px;
    border-radius: 25px;
    padding: 0px 30px;
}
.checkbox-date{
    color: rgb(55, 55, 55);
    border: black 2px;
    font-family: 'Poppins';
}
.divider{
    height: 45px;
}
@media screen and (max-width: 744px) {
    .container-search {
        width: 80%;
    }
    .container-search {
        display: flex;
        flex-direction: column;
        height: 200px;
    }

    .custom-search-input .ant-input,
    .custom-search-input .ant-input-group-addon .ant-btn {
        height: 40px;
    }
}

@media screen and (max-width: 360px) {
    .container-search {
        width: 100%;
    }

    .custom-search-input .ant-input,
    .custom-search-input .ant-input-group-addon .ant-btn {
        height: 35px;
    }
}