.container-footer {
  display: flex;
  background-color: #005777;
  bottom: 0;
  width: 100%;
  position: fixed;

}
.footer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  bottom: 0;
  width: 100%;
  text-align: left;
  color: #46b9bc;
}

footer img {
  margin: 15px;
  width: 70px;
}
