.container-footer{
  display: flex;
  background-color: #005777;
  margin-top: 40px;
  bottom: 0;
  width: 100%;
}
.footer{
  display: flex;
  position: relative;
  align-items: center;
  justify-content:flex-start;
  bottom: 0;
  width: 100%;
  width: 100%;
  text-align: left;
  color: #46b9bc

}

footer img {
  margin: 15px;
  width: 70px;
}
